.buttons{
    margin-inline: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: floralwhite;
}

.buttons button{
    width: 200px;
    padding: 0%;
    outline-color: transparent;
    outline-width: 10px;
    outline-style: solid;
}

.dots {
    font-size: 60px;
}

img {
    height: 200px;
    width: auto;
}

#rock img{
    width: 200px;
    height: auto;
}